@import url("./reset.css");

.text-white {
  color: white;
}

.body {
  background-color: #c7c5c6;
  padding: 3% 6%;
}

.main {
  width: 100%;
  display: flex;
  overflow: auto;
}

.aside {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  gap: 3rem;
  flex: 0.3;
}

.h2-title-left {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.nav-sidebar {
}

.list-item {
}

.fa-solid {
  padding: 0 0.5rem;
}

.wrapper-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  font-size: 1.2rem;
}

.purcase {
  width: 100%;
  font-size: 1.2rem;
  height: 100%;
  border-radius: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  color: white;
  background: #141617;
  background: linear-gradient(
    45deg,
    rgba(20, 22, 23, 1) 0%,
    rgba(75, 91, 92, 1) 9%,
    rgba(48, 61, 61, 1) 16%,
    rgba(59, 71, 71, 1) 21%,
    rgba(54, 64, 63, 1) 28%,
    rgba(37, 43, 40, 1) 37%,
    rgba(64, 71, 68, 1) 45%,
    rgba(47, 56, 51, 1) 53%,
    rgba(58, 66, 59, 1) 58%,
    rgba(62, 71, 59, 1) 64%,
    rgba(46, 48, 45, 1) 69%,
    rgba(62, 66, 58, 1) 77%,
    rgba(74, 74, 64, 1) 82%,
    rgba(46, 42, 11, 1) 90%,
    rgba(77, 70, 56, 1) 96%,
    rgba(82, 75, 75, 1) 100%
  );
}

.upgrade {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  border: 1px solid wheat;
  border-radius: 2rem;
}

.upgrade:hover {
  border: 1px solid white;
  border-radius: 2rem;
}

.wrapper-content {
  flex: 2;
  background-color: #e4e2e5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-top {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper-content-top {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 2rem;
}

.wrapper-content-top-right {
  position: relative;
}

.search {
  border-radius: 999px;
  font-size: 1.5rem;
  border: none;
  padding: 0.4rem 5rem;
}

.fa-magnifying-glass {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 1.8rem;
}

.time-stamp {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.btn {
  font-size: 1rem;
  border-radius: 99px;
  border: none;
  background-color: white;
  padding: 0.2rem 1rem;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.wrapper-data {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  flex: 1;
  border-radius: 2rem;
  padding: 1.3rem 1rem;
  background-color: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.h2-title-card {
  font-size: 1.5rem;
}

.number {
  font-size: 2rem;
}

.content-mid {
  flex: 2;
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}

.wrapper-content-mid-left {
  display: flex;
  flex: 1;
  background-color: white;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1.5rem 0.8rem;
  position: relative;
}

.wrapper-list-mid-vertikal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 2rem;
  width: max-content;
  justify-content: space-between;
}

.wrapper-list-mid-harizontal {
  display: flex;
  align-items: flex-end; /* Teks bulan nempel di bawah */
  gap: 2rem;
  flex-grow: 1;
  border-bottom: 1px solid #ccc; /* Garis dasar chart */
  height: 200px; /* Tentukan tinggi chart */
}

.bar {
  list-style: none;
  position: relative; /* Wajib untuk posisi bar */
  text-align: center;
  flex: 1;
}

/* Ini adalah Batang Bar-nya */
.bar::before {
  content: "";
  position: absolute;
  bottom: 100%; /* Mulai tepat di atas teks bulan */
  left: 50%;
  transform: translateX(-50%);
  width: 30px; /* Lebar batang bar */
  height: var(--h); /* Mengambil tinggi dari inline style HTML */
  background-color: #4a90e2; /* Warna bar */
  border-radius: 4px 4px 0 0;
  transition: height 0.5s ease;
}

.wrapper-content-mid-right {
  flex: 1;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
}

.h2-title-mid-left {
  text-align: center;
}

.wrapper-date-list {
  display: flex;
  gap: 2rem;
  padding: 4rem 4rem 0.8rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.date {
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
}

.date:hover {
  color: white;
  background-color: grey;
}

span {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.community-growth {
  border-top: 1px solid gray;
  padding: 0.8rem 1rem;
}
.content-bot {
  flex: 1;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

a:hover {
  font-weight: 800;
  border-bottom: 1px solid black;
}

.table {
  display: flex;
  flex-direction: column;
}

.thead {
  margin: 0.8rem 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
}

tr {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.paid {
  background-color: gray;
  border-radius: 2rem;
  color: white;
}
